body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#create-todo-btn {
    margin: 32px;
    padding: 8px 20px;
    background-color: #bcb5f7;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.delete-todo-btn {
    padding: 8px 20px;
    background-color: #f0683f;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

#close-form-btn {
    font-size: 24px;
    color: red;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#main {
    max-width: 400px;
    margin: 20px auto;
}

form {
    display: none;
    padding: 8px;
}

input, textarea {
    margin: 4px 0;
    display: block;
    width: 100%;
    padding: 8px 0;
}

#addTodo {
    padding: 10px;
    margin-top: 8px;
}