@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background: url('./background/jean-philippe-delberghe.jpg');
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MAIN */
#main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem auto;
}

/* TODO FORM */
#todo-form {
    min-width: 400px;
    max-width: 100%;
    display: none;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: 5rem;
}

input,
textarea {
    margin: .5rem 0;
    display: block;
    width: 100%;
    padding: .5rem 0;
}

label {
    margin: .5rem 0;
    font-weight: 600;
}

/* BUTTONS */
#create-todo-btn {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    font-weight: 600;
    margin: 2rem auto;
    padding: .5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
}

.delete-todo-btn {
    padding: .5rem 1.5rem;
    border: 0;
    cursor: pointer;
}

#close-form-btn {
    font-size: 1.5rem;
    color: red;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#addTodo {
    margin-top: .75rem;
    padding: .5rem 1.5rem;
    border: 0;
    cursor: pointer;
}

/* TODOS */
#todos {
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: .5rem;
    min-width: 200px;
    max-width: 500px;
    /* IE6+ Compatibility */
    background: rgba(255, 255, 255, 0.3);
    background: -moz-linear-gradient(125deg, rgba(255, 255, 255, 0.3) 40%, rgba(131, 148, 172, 0.3) 100%);
    background: -webkit-linear-gradient(125deg, rgba(255, 255, 255, 0.3) 40%, rgba(131, 148, 172, 0.3) 100%);
    background: linear-gradient(125deg, rgba(255, 255, 255, 0.3) 40%, rgba(131, 148, 172, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#8394ac", GradientType=1);
    padding: .75rem;
    margin-bottom: .75rem;
}

/* DEADLINE */
.deadline-date {
    text-align: center;
    font-size: 1.5rem;
}

.deadline-time-left {
    text-align: center;
    font-size: 1.2rem;
}

/* ANIMATION */
form {
    animation: fadeInDown 1s;
    margin-bottom: 1rem;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}